:host {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 300px;
    padding: 25px;
    border-radius: 20px;

    .mat-form-field {
      margin-bottom: 10px;

      ::ng-deep .mat-form-field-prefix {
        .mat-icon {
          margin-right: 5px;
          margin-bottom: -7px;
        }
      }
    }

    button {
      margin-top: 10px;
    }
  }

  .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
}
